body {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: $font-smoothing;
	font-smoothing: $font-smoothing;
	text-rendering: $text-rendering;
	font-size: $base-font-size;
  line-height: $base-line-height;
	font-family: $base-font-family;
	color: $base-font-color;
	background-color: $base-background-color;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}
