.icon-label {
  margin-top: 10px;
  .icon,
  .label {
    transition: color .2s ease-in-out;
    vertical-align: middle;
  }
  .icon {
    font-size: 18px;
    padding-right: 7px;
  }
  .label {
    @extend .anaheim;
    font-size: 16px;
  }

  &:hover {
    .icon,
    .label {
      color: $blue !important;
    }
  }
}
