#js-triangles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  .js-triangle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .75;
    animation: rotateTriangle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: top, left;
    transition-duration: 100ms;
    transition-timing-function: linear; 
  }
  .icon {
    font-size: 28px;
  }
}

@keyframes rotateTriangle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
