#js-triangles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  .js-triangle {
    position: fixed;
    top: 0;
    left: 0;
    animation: rotateTriangle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .icon {
    font-size: 28px;
  }
}

@keyframes rotateTriangle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
