@import 'setting';
@import 'reset';
@import 'mixin';
@import 'base';
@import 'clearfix';
@import 'kdmicon'; // アイコンフォント
@import 'icon-label';
@import 'sub-headline';
@import 'headline';

/* 以下にスタイルを記述
************************* */

.anaheim { // 英数フォント
  font-family: 'Anaheim', sans-serif;
  letter-spacing: .05em;
}

body {
  $side-padding: calc( (100% - 1024px)/2 );
  .header,
  .section {
    padding: 40px 5%;
    @include media(pc) {
      padding: 55px $side-padding; // 両端のpaddingを計算
    }
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header {
  height: 60px;
  line-height: 60px;
  .sitelogo {
    font-size: 32px;
    font-weight: bold;
  }
}

.main {
  @include media(pc) { // layout
    .section {
      display: flex;
      .l-headline {
        width: 324px;
      }
      .l-section-contents {
        width: 700px;
      }
    }
  }
  #aboutweb {
    background-color: $bg-gray;
  }
  #articles {
    .article {
      padding: 0 0 10px;
      margin-bottom: 10px;
      border-top: 1px solid $lightgray;
      &:nth-child(1) {
        border-top-width: 0;
      }
      .article-category {
        font-size: 12px;
        .icon {
          font-size: 14px;
          margin-right: 5px;
        }
      }
      .article-title {
        font-weight: bold;
      }
      .article-source {
        float: right;
        color: $gray;
        line-height: 0.9em;
        margin-top: 10px;
        .article-source-title {
          font-size: 11px;
          display: block;
          text-align: right;
        }
        .article-source-url {
          @extend .anaheim;
          font-size: 10px;
          margin-top: 3px;
          display: block;
          text-align: right;
        }
        @include media(pc) {
          .article-source-title {
            font-size: 12px;
          }
          .article-source-url {
            font-size: 11px;
          }
        }
      }
    }
  }
  #aboutme {
    background-color: $bg-gray;
    .socials {
      margin-top: 20px;
      li {
        @extend .anaheim;
        .icon {
          font-size: 18px;
          color: $gray;
          margin-right: 10px;
        }
      }
    }
  }
}

.footer {
  .copyright {
    text-align: center;
    line-height: 50px;
  }
}
