<!DOCTYPE html>
<html lang="jp">
<head>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body id="index">
  <header class="header">
    <h1>kdmsei.com</h1>
  </header>
  <main class="main">
    main
  </main>
  <footer class="index-footer">
    &copy; 2016 Sei KODAMA.
  </footer>
</body>
</html>
