<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset='UTF-8'>
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image:src" content="http://mtmtkzm.com/images/ogimage.png">
  <link rel="icon" type="image/vnd.microsoft.icon" href="./images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Anaheim" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <!-- GoogleAnalytics入れる！ -->
</head>
<body>
  <header class="header">
    <h1 class="sitelogo anaheim">kdmsei.com</h1>
  </header>

  <main class="main">
    <section id="aboutweb" class="section">
      <div class="headline">
        <h2 class="headline-en">About this Website:</h2>
        <h3 class="headline-jp">このサイトについて</h3>
      </div>
      <p>
        京都・大阪を中心にフリーライターをしている児玉碧が、自らの実績を掲載するポートフォリオサイトです。京都・大阪を中心にフリーライターをしている児玉碧が、自らの実績を掲載するポートフォリオサイトです。
      </p>
    </section>

    <section id="articles" class="section">
      <div class="headline">
        <h2 class="headline-en">Articles I wrote:</h2>
        <h3 class="headline-jp">これまでに執筆した記事</h3>
      </div>
      <article class="article">
        <span class="article-category"><span class="icon icon-category"></span>ペット</span>
        <h1 class="article-title">飼い猫に首輪は必要？かわいい飼い猫を守る首輪の意味と役割かわいい飼い猫を守る首</h1>
        <a class="article-source" href="min-petlife.com">
          <span class="article-source-title">みんなのペットライフ</span>
          <span class="article-source-url">min-petlife.com</span>
        </a>
      </article>
      <article class="article">
        <span class="article-category"><span class="icon icon-category"></span>ペット</span>
        <h1 class="article-title">飼い猫に首輪は必要？かわいい飼い猫を守る首輪の意味と役割かわいい飼い猫を守る首</h1>
        <a class="article-source" href="min-petlife.com">
          <span class="article-source-title">みんなのペットライフ</span>
          <span class="article-source-url">min-petlife.com</span>
        </a>
      </article>
      <article class="article">
        <span class="article-category"><span class="icon icon-category"></span>ペット</span>
        <h1 class="article-title">飼い猫に首輪は必要？かわいい飼い猫を守る首輪の意味と役割かわいい飼い猫を守る首</h1>
        <a class="article-source" href="min-petlife.com">
          <span class="article-source-title">みんなのペットライフ</span>
          <span class="article-source-url">min-petlife.com</span>
        </a>
      </article>
      <article class="article">
        <span class="article-category"><span class="icon icon-category"></span>ペット</span>
        <h1 class="article-title">飼い猫に首輪は必要？かわいい飼い猫を守る首輪の意味と役割かわいい飼い猫を守る首</h1>
        <a class="article-source" href="min-petlife.com">
          <span class="article-source-title">みんなのペットライフ</span>
          <span class="article-source-url">min-petlife.com</span>
        </a>
      </article>
    </section>

    <section id="aboutme" class="section">
      <div class="headline">
        <h2 class="headline-en">About me:</h2>
        <h3 class="headline-jp">児玉碧について</h3>
      </div>
      <p>
        京都・大阪を中心にフリーライターをしている児玉碧が、自らの実績を掲載するポートフォリオサイトです。京都・大阪を中心にフリーライターをしている児玉碧が、自らの実績を掲載するポートフォリオサイトです。
      </p>
      <ul class="socials">
        <li><span class="icon icon-instagram"></span><span>@kodamasei</span></li>
        <li><span class="icon icon-twitter"></span><span>@kodamasei</span></li>
        <li><span class="icon icon-hatena"></span><span>kodamasei.hateblo.jp</span></li>
      </ul>
      <section class="contactme">
        <h3>お問い合わせ</h3>
        <p>以下のメールアドレスまでご連絡ください。お使いのメールクライアントが起動します。</p>
        <a href="mailto:"><span class="icon icon-mail"></span>hello@kodamasei.com</a>
      </section>
    </section>
  </main>

  <footer class="footer">
    <p class="copyright anaheim">&copy; 2016 Sei KODAMA.</p>
  </footer>
  <script src="./js/app.js"></script>
</body>
</html>
